.svn
.svn*
.svn/
.svn/*
.DS_Store
.Trashes
.swp
.lock

build/
*.orig
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
Output/
profile
*.moved-aside
DerivedData

Carthage/
